#covid-summary-country
{
    height: 400px;
    width: 400px;
    box-shadow: 2px 2px 4px 3px grey;
    transition: 0.5s;
    cursor: pointer;
    resize: vertical;
}

#covid-summary-country:hover
{
    box-shadow: 2px 2px 10px 3px grey;
}

#covid-summary-country:hover .widget-header
{
    background-color: #86280D;
}

#covid-summary-country .content .header-content .description
{
    margin-top: 20px;
    align-items: center;
    display: flex;
    margin-left: 20px;
}

#covid-summary-country .content .description .logo img
{
    height: 30px;
}

#covid-summary-country .content .description .text
{
    margin-left: 20px;
    font-size: 14px;
}

#covid-summary-country .content .stat-wrap
{
    margin-top: 70px;
}

#covid-summary-country .content .stat
{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#covid-summary-country .content .stat .image
{
    text-align: center;
    width: 100px;
}

#covid-summary-country .content .stat .image .description
{
    margin-top: 5px;
    font-size: 10px;
}

#covid-summary-country .content .stat .image .logo
{
}

#covid-summary-country .content .stat .image .logo img
{
    height: 30px;
}

#covid-summary-country .content .stat .value
{
    margin-left: 30px;
    font-weight: bold;
}

#covid-summary-country p
{
    margin-bottom: 0;
}