#spotify-top-tracks-user
{
    height: 400px;
    width: 400px;
    box-shadow: 2px 2px 4px 3px grey;
    transition: 0.5s;
    cursor: pointer;
}

#spotify-top-tracks-user:hover
{
    box-shadow: 2px 2px 10px 3px grey;
}

#spotify-top-tracks-user:hover .widget-header
{
    background-color: #7AD768;
}

#spotify-top-tracks-user .core
{
    height: 340px;
    overflow-y: auto;
}

#spotify-top-tracks-user .core .track
{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.5s;
}

#spotify-top-tracks-user .core .track:hover
{
    background-color: #9fe791;
}

#spotify-top-tracks-user .core .track .position
{
    margin-inline: 10px;
}

#spotify-top-tracks-user .core .track .name
{
    margin-inline: 10px;
}

#spotify-top-tracks-user .core .track img
{
    height: 40px;
}

#spotify-top-tracks-user .core .track p
{
    margin-bottom: 0;
}