#weather-city-meteo
{
    height: 400px;
    width: 400px;
    box-shadow: 2px 2px 4px 3px grey;
    cursor: pointer;
    transition: 0.5s;
}

#weather-city-meteo:hover
{
    box-shadow: 2px 2px 10px 3px grey;
}

#weather-city-meteo:hover .widget-header
{
    background-color: #F1C232;
}

#weather-city-meteo .content .temperature
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    align-items: flex-end;
}

#weather-city-meteo .content .temperature .weather
{
}

#weather-city-meteo .content .temperature .weather img
{
    height: 70px;
}

#weather-city-meteo .content .temperature .degree
{
    font-size: 50px;
    margin-left: 20px;
}

#weather-city-meteo p
{
    margin-bottom: 0;
}

#weather-city-meteo .content .temperature .type-degree
{
    margin-bottom: 15px;
}

#weather-city-meteo .content .element
{
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

#weather-city-meteo .content .element .icon img
{
    height: 30px;
}

#weather-city-meteo .content .element .description
{
    margin-left: 20px;
    font-size: 14px;
}

#weather-city-meteo .content .element .value
{
    margin-left: auto;
    color: grey;
}