#reset-password-module
{
    padding-top: 50px;
}

#reset-password-module .title
{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

#reset-password-module .reset-form
{
    margin-top: 100px;
}

#reset-password-module .input
{
    margin-top: 50px;
    margin-bottom: 40px;
    width: 400px;
    margin-inline: auto;
}

#reset-password-module .button-sign-up
{
    margin-top: 100px;
    color: white;
    text-align: center;
}

#reset-password-module .back-home
{
    text-align: center;
    margin-top: 50px;
    font-size: 17px;
}

#reset-password-module .back-home p strong
{
    cursor: pointer;
}

#reset-password-module .back-home p strong:hover
{
    text-decoration: underline;
}

#reset-password-module .basic-button
{
    margin-top: 100px;
}

@media all and (max-width: 460px)
{
    #reset-password-module .title
    {
        font-size: 25px;
    }

    #reset-password-module .input
    {
        width: 90%;
    }

    #reset-password-module .basic-button .button button
    {
        padding: 15px 30px;
        font-size: 14px;
    }
}