#login-module
{
    background-image: url('/src/assets/images/background-login.jpg');
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
}

#login-module .content
{

    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}