#city-weather-form
{
    margin-top: 100px;
}

#city-weather-form .city-input
{
    text-align: center;
    width: 300px;
    margin-inline: auto;
}

#city-weather-form .temperature-input
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}